.page-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.place-name{
    display: flex;
    font-family: 'Revalia', cursive;
    flex-direction: column;
    font-size: 26px;
}

.place-img{
    display: flex;
    flex-direction: column;
}
.place-desc{
    display: flex;
    flex-direction: column;
}


.laranjado{
    color: #FF5C01;
}
.input-content{
        
    height: 60px;
    width: 500px;
    background-color: #C4C4C4;
    margin-bottom: 8%;
    border-radius: 16px;
    border: none;
}
.input-content-desc{
        
    height: 150px;
    width: 400px;
    background-color: #C4C4C4;
    margin-bottom: 40%;
    margin-left: 2%;
    border-radius: 16px;
    border: none;
}
.input-content-image{
        
    height: 60px;
    width: 300px;
    background-color: #C4C4C4;
    margin-bottom: 40%;
    margin-left: 10%;
    border-radius: 16px;
    
}

.up-button{
    border: none;
    background: none;
    margin-left: 38%;
}

.text {
    font-family: 'Revalia', cursive;
    text-align: center;
    line-height: 60px;
}

.image-background {
    background-color: #C4C4C4;
    border-radius: 16px;
    height: 60px;
    width: 500px;
}