.medicine-container {
    background-color: #C4C4C4;
    width: 343px;
    height: 560px;
    margin: 5%;
    border-radius: 90px;
      
}

.style-containers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.image {
    width: 60%;
    height: 60%;
    margin-top: 8px;
    margin-left: 70px;
    border-radius: 20%;
}

.laranjado {
    color: #FF5C01;
    font-size: 30px;
    font-family: 'Revalia', cursive;
    margin-top: 3.5%;
    margin-left: 3.5%;
    
}

.texto {
    font-size: 30px;
    font-family: 'Revalia', cursive;
    text-align: center;
}

.botao-comprar {
    border-radius: 90%;
    width: 65%;
    height: 10%;
    font-size: 18px;
    font-family: 'Revalia', cursive;
    background-color: #8A8787;
    color: white;
    margin-left: 16%;
    margin-top: 12%;
}